
*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.main_content{
    border: 2px solid black;
    width: fit-content;
    padding: 40px;
    margin: auto;
}

h4{
    color: rgb(30, 171, 30);
}
span{
    color: rgb(30, 103, 171);
}